<!DOCTYPE html>
<html>
<head>
  <title>EIR Report Interface</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "eir_report_interface/application", media: "all" %>
  <%= javascript_include_tag "eir_report_interface/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
